@use "../../scss/MainColor.scss" as MainColor;
.container {
  display: flex;
  justify-content: center;
  background-color: MainColor.$color-D7C0AE;
  height: 27%;
  width: 100%;
  margin: 0 auto;
  border-radius: 14px;
  cursor: pointer;
}
.text {
  display: inline-block;
  height: 40%;
  margin: auto 0;
  vertical-align: middle;
  font-size: 28px;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 테블릿 세로 */
@media all and (min-width: 361px) and (max-width: 768px) {
  .text {
    font-size: 22px;
  }
}

/* 모바일 */
@media all and (max-width: 360) {
}
