@use "../../styles/color/mainColors.scss" as mainColor;
@use "../../styles/templates/mainSizes.scss" as mainSize;
.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  position: sticky;
  width: 100%;
  height: mainSize.$appBar-height;
  background-color: mainColor.$main-color-4;
  padding: mainSize.$appBar-padding-height 2em;
  text-align: center;

  & > div {
    display: grid;
  }
  & > div:nth-child(1) {
    text-align: left;
    grid-template-columns: 1fr;
  }
  & > div:nth-child(2) {
    grid-template-columns: 1fr;
  }
  & > div:nth-child(3) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
