@use "../../scss/MainColor.scss" as MainColor;
@use "../../scss/Card.scss" as Card;
@use "sass:math";
$detailBoxMargin-Width: 0.05;
$detailBoxMargin-Height: 0.04;
$height-web: 31.38vh;
$width-web: 30.625vw;
.container {
  position: relative;
  border: 1px solid #000000;
  max-height: Card.$card-height-web;
  min-height: Card.$card-height-tablet;
  max-width: Card.$card-width-web;
  height: $height-web;
  width: $width-web;
  background-color: MainColor.$color-EEE3CB;
  border-radius: 23px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hoverContainer {
  position: relative;
  width: 100%;
  z-index: 10;
}

.hoverCard {
  position: absolute;
  border-radius: 23px;
  max-height: Card.$card-height-web;
  min-height: Card.$card-height-tablet;
  max-width: Card.$card-width-web;
  height: $height-web;
  width: $width-web;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.detailContainer {
  position: relative;
  z-index: 5;
}

.detailBox {
  max-height: Card.$card-height-web;
  min-height: Card.$card-height-tablet;
  max-width: Card.$card-width-web;
  height: $height-web;
  width: $width-web;
  padding: math.percentage($detailBoxMargin-Height)
    math.percentage($detailBoxMargin-Width);
}
.blur {
  filter: blur(5px);
}

// DataCard children
.title {
  font-size: Card.$titleFontSize-web;
  border-bottom: 2px solid #000000;
}
.emptyBox {
  font-size: Card.$textFontSize-web;
}
.middleTextBox {
  margin-top: 4%;
  max-height: 50%;
}
.middleText {
  font-size: Card.$textFontSize-web;
  padding-bottom: 1%;
}
.bottomRightTextBox {
  position: absolute;
  right: 5%;
  bottom: 8%;
}

.bottomRightText {
  width: 100%;
  font-size: Card.$textFontSize-web;
  text-align: right;
}

.reservationTextContainer {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 3%;
  & > div {
    position: relative;
  }
}
.noContent {
  display: flex;
  line-height: 12em;

  justify-content: center;
  & > div {
    margin: auto 0;
  }
}
.button {
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  border-radius: 8px;
  background-color: MainColor.$color-967E76-90;
  display: flex;
  justify-content: center;

  & > div {
    margin: auto 0;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.reservationTextBox {
  border-radius: 14px;
  margin-top: 4%;
  padding: 3% 1%;
}
.reservationText {
  font-size: Card.$textFontSize-smaller-web;
  margin-bottom: 3%;
}
.right {
  text-align: right;
}
.visible {
  animation-duration: 0.5s;
  animation-name: display;
}
.invisible {
  opacity: 0;
}
.hidden {
  display: none;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 테블릿 세로 */
@media all and (min-width: 361px) and (max-width: 768px) {
  .container {
    width: max(Card.$card-width-tablet, 30.625vw);
    max-width: Card.$card-width-tablet;
    height: Card.$card-height-tablet;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hoverCard {
    width: max(Card.$card-width-tablet, 30.625vw);
    height: Card.$card-height-tablet;
    font-size: 20px;
  }
  .detailBox {
    width: max(Card.$card-width-tablet, 30.625vw);
    height: Card.$card-height-tablet;
  }

  .reservationTextBox {
    border-radius: 14px;
    margin-top: 2.5%;
    padding: 2.5% 1%;
  }
  .reservationText {
    font-size: Card.$textFontSize-smaller-tablet;
    padding-bottom: 1%;
  }
}

/* 모바일 */
@media all and (max-width: 360) {
}
