$main-color-1: rgb(155, 171, 184); //#9BABB8
$main-color-2: rgb(238, 227, 203); //#EEE3CB
$main-color-3: rgb(215, 192, 174); //#D7C0AE
$main-color-4: rgb(150, 126, 118); //#967E76

$main-color-1-50: rgba(155, 171, 184, 0.5);
$main-color-2-50: rgba(238, 227, 203, 0.5);
$main-color-3-50: rgba(215, 192, 174, 0.5);
$main-color-4-50: rgba(150, 126, 118, 0.5);
