@use "../../scss/Global.scss" as global;
@use "../../scss/Header.scss" as Header;

.container {
  width: 100vw;
  height: calc(100vh - Header.$headerHeight-web);

  & > div {
    padding: 5% 0;
  }
}
.registerLink {
  width: 100%;
  text-decoration: underline;
  margin-top: 1em;
  color: white;
  text-align: center;
}

/* 테블릿 세로 */
@media all and (min-width: global.$media-min-width-tablet) and (max-width: global.$media-max-width-tablet) {
  .container {
    height: calc(100vh - Header.$headerHeight-tablet);
  }
  .registerLink {
    margin-top: 0.5em;
  }
}

/* 모바일 */
@media all and (max-width: global.$media-max-width-mobile) {
}
