@use "@/components/styles/color/mainColors.scss" as mainColor;
.input_container {
  padding: 0.6em;
  & label {
    display: block;
    font-size: 20px;
    margin-bottom: 0.5em;
  }
  & input {
    background-color: mainColor.$main-color-1;
    width: 100%;
    padding: 0.3em 0.7em;
    font-size: 18px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
