@use "../scss/Global.scss" as global;
.wrapper {
  min-height: 100%;
}
.main {
  min-height: 100%;
}

.CardContainer {
  overflow-x: scroll !important;
  padding: 1% 18.75%;
  padding-bottom: 2%;
  position: relative;
  width: 100%;
}

/* 테블릿 세로 */
@media all and (min-width: global.$media-min-width-tablet) and (max-width: global.$media-max-width-tablet) {
  .CardContainer {
    padding: 2% 3.125%;
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

/* 모바일 */
@media all and (max-width: global.$media-max-width-mobile) {
  .CardContainer {
    padding: 2% 3.125%;
    & > div {
      display: grid;
      grid-template-columns: 1fr !important;
    }
  }
}
