.wrapper {
  min-height: 100%;
}
.main {
  min-height: 100%;
}
.CardContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25%;
  padding: 0 18.75%;
  padding-bottom: 2%;
  // overflow-y: hidden;
}

/* 테블릿 세로 */
@media all and (min-width: 361px) and (max-width: 768px) {
  .CardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* 모바일 */
@media all and (max-width: 360) {
  .CardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
