@use "../../scss/MainColor.scss" as MainColor;
@use "../../scss/Global.scss" as global;
$headerHeight-web: 64px;
$buttonCardWidth-web: 64px;
$buttonImageWidth-web: 42px;
$text-font-size-web: 22px;

$headerHeight-tablet: 48px;
$buttonCardWidth-tablet: 48px;
$buttonImageWidth-tablet: 30px;
$text-font-size-tablet: 18px;

$headerHeight-mobile: 32px;
$buttonCardWidth-mobile: 32px;
$buttonImageWidth-mobile: 24px;
$text-font-size-mobile: 14px;
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background-color: MainColor.$color-967E76-50;
}

.drawerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: MainColor.$color-967E76;
}
.header {
  height: $headerHeight-web;
}
.buttonImageCard {
  width: $buttonCardWidth-web;
  height: $headerHeight-web;
  padding: calc(($buttonCardWidth-web - $buttonImageWidth-web) / 2);
}
.buttonImage {
  width: $buttonImageWidth-web;
  height: $buttonImageWidth-web;
}

.itemButton {
  height: $headerHeight-web;
  cursor: pointer;
  display: grid;
  grid-template-columns: $headerHeight-web 1fr;
  & .imageBox {
    position: relative;
    width: $headerHeight-web;
    height: $headerHeight-web;
    padding: calc(($buttonCardWidth-web - $headerHeight-web * 0.5625) / 2);
    & .image {
      width: $headerHeight-web * 0.5625;
      height: $headerHeight-web * 0.5625;
    }
  }

  & .textBox {
    & .text {
      line-height: $headerHeight-web * 1;
      font-size: $text-font-size-web;
      color: white;
    }
  }
}

.hidden {
  display: none;
}
/* 테블릿 세로 */
@media all and (min-width: global.$media-min-width-tablet) and (max-width: global.$media-max-width-tablet) {
  .header {
    height: $headerHeight-tablet;
  }
  .buttonImageCard {
    width: $buttonCardWidth-tablet;
    height: $headerHeight-tablet;
    padding: calc(($buttonCardWidth-tablet - $buttonImageWidth-tablet) / 2);
  }
  .buttonImage {
    width: $buttonImageWidth-tablet;
    height: $buttonImageWidth-tablet;
  }

  .itemButton {
    height: $headerHeight-tablet;

    grid-template-columns: $headerHeight-tablet 1fr;
    & .imageBox {
      width: $headerHeight-tablet;
      height: $headerHeight-tablet;
      padding: calc(
        ($buttonCardWidth-tablet - $headerHeight-tablet * 0.5625) / 2
      );
      & .image {
        width: $headerHeight-tablet * 0.5625;
        height: $headerHeight-tablet * 0.5625;
      }
    }

    & .textBox {
      & .text {
        line-height: $headerHeight-tablet;
        font-size: $text-font-size-tablet;
      }
    }
  }
}

/* 모바일 */
@media all and (max-width: global.$media-max-width-mobile) {
  .header {
    height: $headerHeight-mobile;
  }
  .drawerContainer {
    width: 30%;
  }
  .buttonImageCard {
    width: $buttonCardWidth-mobile;
    height: $headerHeight-mobile;
    padding: calc(($buttonCardWidth-mobile - $buttonImageWidth-mobile) / 2);
  }
  .buttonImage {
    width: $buttonImageWidth-mobile;
    height: $buttonImageWidth-mobile;
  }

  .itemButton {
    height: $headerHeight-mobile;

    grid-template-columns: $headerHeight-mobile 1fr;
    & .imageBox {
      width: $headerHeight-mobile;
      height: $headerHeight-mobile;
      padding: calc(($headerHeight-mobile - $buttonImageWidth-mobile) / 2);
      & .image {
        width: $buttonImageWidth-mobile;
        height: $buttonImageWidth-mobile;
      }
    }

    & .textBox {
      & .text {
        line-height: $headerHeight-mobile;
        font-size: $text-font-size-mobile;
      }
    }
  }
}
