$card-height-web: 331px;
$card-width-web: 588px;
$titleFontSize-web: 28px;
$textFontSize-web: 20px;
$textFontSize-smaller-web: 18px;

$card-height-tablet: 272px;
$card-width-tablet: 474px;
$titleFontSize-tablet: 26px;
$textFontSize-tablet: 18px;
$textFontSize-smaller-tablet: 16px;

// /* 테블릿 세로 */
// @media all and (min-width: 361px) and (max-width: 768px) {

//   }

//   /* 모바일 */
//   @media all and (max-width: 360) {

//   }
