$headerHeight-web: 64px;
$buttonCardWidth-web: 64px;
$buttonImageWidth-web: 42px;
$logo-font-size-web: 36px;

$headerHeight-tablet: 48px;
$buttonCardWidth-tablet: 48px;
$buttonImageWidth-tablet: 30px;
$logo-font-size-tablet: 28px;