$color-9BABB8: #9babb8;
$color-EEE3CB: #eee3cb;
$color-D7C0AE: #d7c0ae;
$color-967E76: #967e76;

$color-9BABB8-50: rgba(155, 171, 184, 0.5);
$color-EEE3CB-50: rgba(238, 227, 203, 0.5);
$color-D7C0AE-50: rgba(215, 192, 174, 0.5);
$color-967E76-50: rgba(150, 126, 118, 0.5);

$color-9BABB8-90: rgba(155, 171, 184, 0.9);
$color-EEE3CB-90: rgba(238, 227, 203, 0.9);
$color-D7C0AE-90: rgba(215, 192, 174, 0.9);
$color-967E76-90: rgba(150, 126, 118, 0.9);
