@use "../../scss/MainColor.scss" as MainColor;
@use "../../scss/Global.scss" as global;
$height-web: 2.5em;
$label-font-size-web: 28px;
$font-size-web: 22px;
$padding-left-web: 1em;

$height-tablet: 2.5em;
$label-font-size-tablet: 18px;
$font-size-tablet: 14px;
$padding-left-tablet: 1em;

.container {
  position: relative;
  margin-bottom: 3%;
  width: 100%;
  & .label {
    font-size: $label-font-size-web;
    color: white;
  }
}
.button {
  background-color: MainColor.$color-D7C0AE !important;
}
.pointer {
  cursor: pointer !important;
}
.textBox {
  width: 100%;
  height: $height-web;
  font-size: $font-size-web;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 16px;
}
.input {
  width: 100%;
  padding-left: $padding-left-web;
  height: $height-web;
  font-size: $font-size-web;
  background-color: rgba(0, 0, 0, 0);
  caret-color: MainColor.$color-967E76;
  border: none;

  &::selection {
    background-color: MainColor.$color-EEE3CB;
  }
  &:focus {
    outline: none;
  }
}

.noEditable {
  font-size: $font-size-web;
  padding-left: $padding-left-web;
  line-height: $height-web;
}

.notValid {
  position: absolute;
  color: red;
  right: 1em;
  bottom: 0;
}
/* 테블릿 세로 */
@media all and (min-width: global.$media-min-width-tablet) and (max-width: global.$media-max-width-tablet) {
  .container {
    & .label {
      font-size: $label-font-size-tablet;
    }
  }
  .textBox {
    height: $height-tablet;
    font-size: $font-size-tablet;

    border-radius: 12px;
  }
  .input {
    padding-left: $padding-left-tablet;
    height: $height-tablet;
    font-size: $font-size-tablet;
  }

  .noEditable {
    font-size: $font-size-tablet;
    padding-left: $padding-left-tablet;
    line-height: $height-tablet;
  }
}

/* 모바일 */
@media all and (max-width: global.$media-max-width-mobile) {
}
